@model IEnumerable<ManagmentSystem.Presentation.Areas.Admin.Models.UserVMs.AdminUserListVM>

@{
    ViewData["Title"] = "ListUsers";
}

<h1>Users</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LockoutEnabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    <div class="form-group d-flex align-items-center" style="margin: 5px">
                        <label class="switch" style="margin-left: 10px;">
                            <input type="checkbox" id="lockoutEnabledSwitch-@item.Id"
                                   data-user-id="@item.Id"
                            @(item.LockoutEnabled ? "checked" : "")>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </td>
                <td>
                    <!-- Create ve Edit bağlantıları -->
                    <a href="@Url.Action("Edit", "AdminUser", new { id = item.Id })" class="btn btn-primary">Edit</a>

                </td>
            </tr>
        }
    </tbody>
</table>
<div class="button-container">
    <a href="@Url.Action("Create", "AdminUser")" class="btn btn-success">Create</a>
</div>
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: red;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: green;
    }

        input:checked + .slider:before {
            transform: translateX(26px);
        }

    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>

@section Scripts {
    <script>
        document.querySelectorAll('input[type="checkbox"][id^="lockoutEnabledSwitch-"]').forEach(function (element) {
            element.addEventListener('change', function () {
                var userId = this.getAttribute('data-user-id');
                var isEnabled = this.checked;
                console.log("User ID: " + userId + " | LockoutEnabled: " + isEnabled);

                $.ajax({
                    url: '/Admin/AdminUser/UpdateLockoutStatus',
                    type: 'POST',
                    data: {
                        userId: userId,
                        lockoutEnabled: isEnabled
                    },
                    success: function (response) {
                        console.log("Başarılı");
                    },
                    error: function (error) {
                        console.log("Hata:", error);
                    }
                });

            });
        });
    </script>
}
