@model ManagmentSystem.Presentation.Areas.Admin.Models.UserVMs.AdminUserDetailVM

@{
    ViewData["Title"] = "UserDetail";
}

<h1 class="text-center">UserDetail</h1>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-transparent text-center">
                <!-- CSS sınıfını ekleyin -->
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(Model.ProfileImage))
                    {
                        <img src="@Model.ProfileImage" alt="Profile Photo" class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover; margin-bottom: 15px;" />
                    }
                    else
                    {
                        <span>No profile photo</span>
                    }

                    <h4 class="card-title">@Model.FirstName @Model.LastName</h4>
                    <h6 class="category text-info text-gradient">User</h6>
                    <hr />

                    <dl class="row justify-content-center">
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Mail)</dd>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.PhoneNumber)</dd>
                        <dd class="col-sm-8">
                            @if (Model.DateOfBirth.HasValue)
                            {
                                @Model.DateOfBirth.Value.ToString("dd.MM.yyyy")
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        </dd>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Address)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <a asp-action="ListUsers" class="btn btn-info">Back to List</a>
</div>










<style>
    .card-transparent {
        background-color: rgba(255, 255, 255, 0.9); /* Beyaz arka plan, %90 opaklık */
        border: 1px solid #ddd; /* Opsiyonel: Kartın etrafında ince bir sınır */
    }

</style>