@model ManagmentSystem.Presentation.Areas.Admin.Models.UserVMs.AdminUserDetailVM

@{
    ViewData["Title"] = "UserDetail";
}

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-transparent text-center">
                <div class="card-body">
                    <h2 class="text-center">@Localizer["User Detail"]</h2>

                    <div class="image-container mx-auto">

                        @if (!string.IsNullOrEmpty(Model.ProfileImage))
                        {
                            <img src="@Url.Content($"~/uploads/{Model.ProfileImage}")" alt="Profile Photo" class="profile-photo" />
                        }
                        else
                        {
                            <img src="/uploads/Not Image.jpg" alt="Profile Photo" class="profile-photo" />
                        }
                    </div>

                    <h4 class="card-title">@Model.FirstName @Model.LastName</h4>
                    <h6 class="category text-info text-gradient">@Localizer["User"]</h6>
                    <hr />

                    <dl class="row justify-content-center">
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Mail)</dd>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.PhoneNumber)</dd>
                        <dd class="col-sm-8">
                            @if (Model.DateOfBirth.HasValue)
                            {
                                @Model.DateOfBirth.Value.ToString("dd.MM.yyyy")
                            }
                            else
                            {
                                <span>N/A</span>
                            }
                        </dd>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Address)</dd>
                    </dl>
                    <div class="text-center mt-4">
                        <a asp-action="ListUsers" class="btn btn-info">@Localizer["Back to List"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>












<style>
    .card-transparent {
        background-color: rgba(255, 255, 255); /* Beyaz arka plan, %90 opaklık */
        border: 1px solid #ddd; /* Opsiyonel: Kartın etrafında ince bir sınır */
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 30px;
        border: 2px solid #ddd; /* Çerçeve ekliyoruz */
    }

    .profile-photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>