@model ManagmentSystem.Presentation.Areas.Admin.Models.CategoryVMs.AdminCategoryDetailVM

@{
    ViewData["Title"] = "Detaylar";
}
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card profile-card mx-auto">
                <div class="card-body text-center">
                    <h2>@Localizer["Category Details"]</h2>
                    <h4 class="card-title">@Html.DisplayFor(model => model.CategoryName)</h4>
                    <p class="card-description">
                        <strong>@Localizer["Description"]:</strong> @Html.DisplayFor(model => model.Description)
                    </p>
                    <div class="mt-3">
                        <a href="@Url.Action("Index", "Category")" class="btn btn-danger btn-lg">@Localizer["Back"]</a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>

<style>
    .profile-card {
        background-color: rgba(255, 255, 255, 1.0); /* Beyaz arka plan */
        border-radius: 15px; /* Yuvarlak köşeler */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge efekti */
        padding: 20px; /* İçerik etrafında boşluk */
        margin-top: 20px; /* Üst boşluk */
        max-width: 600px; /* Maksimum genişlik */
    }

    .card-title {
        font-size: 1.5rem; /* Başlık font boyutu */
        margin-bottom: 10px; /* Başlık alt boşluğu */
    }

    .category {
        font-size: 1.125rem; /* Alt başlık font boyutu */
        margin-bottom: 20px; /* Alt başlık alt boşluğu */
    }

    .card-description {
        font-size: 1rem; /* Açıklama font boyutu */
        color: #333; /* Açıklama rengi */
    }

    
</style>

