 @model IEnumerable<ManagmentSystem.Presentation.Areas.Admin.Models.CategoryVMs.AdminCategoryListVM>

@{
    ViewData["Title"] = "Kategori Listesi";
}

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer

<br />
<br />
<br />


<div class="card">
    <h2 class="categories-heading">@Localizer["Categories"]</h2>
    <div style="position: relative;">
        <a asp-action="Create" class="btn btn-success" style="position: fixed; top: 90px; right: 460px;">@Localizer["Create New Category"]</a>
    </div>

    <div class="table-responsive">
        <table class="table align-items-center mb-0">
            <thead>
                <tr>
                    <th class="text-secondary text-xxs font-weight-bolder opacity-7">@Localizer["CATEGORY NAME_"]</th>
                    <th class="text-secondary text-xxs font-weight-bolder opacity-7 ps-2">@Localizer["DESCRIPTION_"]</th>
                    <th class="text-center text-secondary text-xxs font-weight-bolder opacity-7">@Localizer["ACTIONS"]</th>
                    <th class="text-secondary opacity-7"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="d-flex px-2 py-1">
                                <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-xs">@Html.DisplayFor(modelItem => item.CategoryName)</h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex flex-column justify-content-center">
                                <p class="text-xs text-secondary mb-0">@Html.DisplayFor(modelItem => item.Description)</p>
                            </div>
                        </td>
                        <td class="align-middle text-center">
                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary btn-sm">@Localizer["Update"]</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">@Localizer["Details"]</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">@Localizer["Delete"]</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    th, td {
        padding: 12px 15px;
        font-size: 12px; /* Yazı boyutunu küçült */
    }

    .card {
        max-width: 1600px; /* Kartın genişliğini kısalt */
        margin: 0 auto; /* Kartı ortala */
    }

    .table-responsive {
        padding: 10px; /* İç boşluk ekleyerek tabloyu ferahlat */
    }

    .table {
        width: 100%; /* Tablonun tam genişlikte görünmesini sağla */
        margin: 0 auto; /* Tablonun kapsayıcı içinde ortalanmasını sağla */
    }

    th, td {
        padding: 12px 15px; /* Hücrelerin iç boşluklarını belirle */
        font-size: 2.85 rem;
    }

        th.text-uppercase, td.text-center {
            text-align: left; /* Başlık ve hücre içi hizalamayı sol yap */
        }

    .btn {
        margin-right: 5px; /* Butonlar arasında boşluk bırak */
    }

    .categories-heading {
        margin-left: 30px; 
    }

    

</style>